*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




:root{
    --bgc-header: #1E1E1E;
    --fc-header: white;
    --ff-header: 'Montserrat', sans-serif;
    --btn-bgc: rgba(0,136,169,1);
    --header-height: 80px;
    --left-content-font-size: 56pt;
    --right-content-font-size: 16pt;
    --left-content-font-weight: 700;
    --right-content-font-weight: 400;
    --left-content-font-style: italic;
    --know-more-btn-color: white;
    --section-offset: var(--header-height);
    --homepage-left-container-font-color: white;
    --homepage-right-container-font-color: white;
}


.logo{
    text-decoration: none;
    color: var(--fc-header);
}


.pre{
    font-weight:400;
    
}

.post{
    
    font-weight: 700;
}
 
header{
    
    display:flex;
    justify-content: flex-end;
    align-items: center;
    cursor:pointer;
    padding:0px 10%;
    z-index:9999;
    position:fixed;
    width:100vw;
    top:0;
    

}


.home-nav{
    margin-left: auto;
    font-family: inherit;
    
    
}


.nav_link{
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    
}

.active{
    color: rgba(0,136,169,1);
    font-weight:  bold;
    
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    position:relative;
    
    
}

body::before{
    background-image: url("./images/1332.jpg");
    width:100vw;
    background-position: center center;
    background-size: contain;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    position: absolute;
    content:'';
    inset:0;
    opacity: 0.18;
}

header{
    isolation: isolate;
}

main{
    position:relative;
    flex:1;
}




.nav_icon{
    display: none;
}




.home_section1{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top: calc(var(--header-height) + 100px);
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 100px;
    background-color: #3e3e3e;
   
    
}


.quotation{
    padding-bottom: 10px;
}

.quotation_description{
    padding-top:10px;
}


.home_section2{
    
    display:flex;
    flex-direction:column;
    align-items: center;
    color: black;
    font-family: var(--ff-header);
    font-style: italic;
    margin-top: 10px;;
}

.product_container {
    padding-top:40px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:100px; 
    
}

/*product1*/

.product1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    
}

.product1 img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    z-index: 1;
    
}




.product1_infobox{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    padding-top:75px;
    padding-left: 25px;
    padding-right:25px;
    width:300px;
    height:250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -75px;
}



.product1_infobox:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



.product1_infobox a{
   margin-top:auto;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:10%;
    
}

.product1_infobox a button{
    padding: 15px 20px;
    
}

.image_slide_container{
    display: flex;
    align-items: center;
    position:absolute;
    inset:0;
    width: 250px;
    height: 250px;
    z-index: 1;
    border-radius: 20px;
    margin-top:20px;
    opacity:0;
    
    margin-left: 25px;
}

.image_slide_container:hover{
    opacity:0.6;
}




#product1_changeimg_indexpage_right{
 width: 30px; 
 height: 30px;
 background-color: white;
 border-radius: 50%;
 border-color: transparent;
 margin-left: auto;
 margin-right: 5px;
 color: black;
}

#product1_changeimg_indexpage_left{
 width: 30px; 
 height: 30px;
 background-color: white;
 border-radius: 50%;
 border-color: transparent;
 margin-right: auto;
 margin-left: 5px;
 color: black;
}


/*product2*/

.product2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product2 img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    z-index: 1;
}


.product2_infobox{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    padding-top:75px;
    padding-left: 25px;
    padding-right:25px;
    width:300px;
    height:250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -75px;
}



.product2_infobox:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



.product2_infobox a{
   margin-top:auto;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:10%;
    
}

.product2_infobox a button{
    padding: 15px 20px;
    
}



/*product3*/

.product3{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.product3 img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    z-index: 1;
}


.product3_infobox{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    padding-top:75px;
    padding-left: 25px;
    padding-right:25px;
    width:300px;
    height:250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -75px;
}



.product3_infobox:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



.product3_infobox a{
   margin-top:auto;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:10%;
    
}

.product3_infobox a button{
    padding: 15px 20px;
    
}



/*footer*/

footer{
    margin-top:50px;
    background-color: var(--bgc-header);
    isolation: isolate;
    padding: 10px 0px;
}



.footer-section{
   
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   padding-left:20%;
   padding-right:20%;
   gap:100px;

}


.footer_firstblock {
    display:flex;
    flex-direction: column;
    margin-left:auto;
    align-items: center;;
}


.footer_firstblock div:nth-child(1){
    padding-bottom: 5px;
}


.social_media_img{
    display:flex;
    padding-top:10px;
    
}

.social_media_img a:nth-child(1){
    background-image: url('./images/fb-white.png');
    width:24px;
    height:24px;
    padding-right:10px;
    margin-right: 5px;
    
}

.social_media_img a:nth-child(1):hover{
 background-image: url('./images/fb-blue.png');
 background-size: cover;
 
}

.social_media_img a:nth-child(2){
    background-image: url('./images/insta-white.png');
    width:24px;
    height:24px;
    padding-right:10px;
    margin-right: 5px;
    
}

.social_media_img a:nth-child(2):hover{
 background-image: url('./images/insta-blue.png');
 background-size: cover;
 
}

.social_media_img a:nth-child(3){
    background-image: url('./images/twitter-white.png');
    width:24px;
    height:24px;
    padding-right:10px;
    margin-right: 5px;
    
}

.social_media_img a:nth-child(3):hover{
 background-image: url('./images/twitter-blue.png');
 background-size: cover;
 
}


.adress-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    color:white;
}

.img_link div a{
    text-decoration: none;
    color:white;
}




/*mobile view section*/


.mobile_menu_page a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-left:10%;
    padding-bottom: 30px;
}



.hide_index_main{
    display:none;
}

.footer_margin_delete{
    margin-top:0px;
}


/*---------------------*/





/*media section*/
@media (width>=1440px){

    .home_section1 div:nth-child(1){
        font-size: 56pt;
    }

    .product_container{
        padding-top:40px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        
    }

    .home_section1 div:nth-child(2){
        font-size: 16pt;
    }

    .mobile_menu_page{
    display:none;
    }
}



@media (min-width: 1280px) and (max-width: 1440px) {

    .home_section1 div:nth-child(1){
        font-size: 48pt;
    }
    .product_container{
        padding-top:40px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        
    }

    .home_section1 div:nth-child(2){
        font-size: 16pt;
    }

    .mobile_menu_page{
        display:none;
    }

}


@media (min-width: 1170px) and (max-width: 1280px) {

    .home_section1 div:nth-child(1){
        font-size: 40pt;
    }

    .product_container{

        padding-top:40px;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .product1{
        grid-row: 1;
        grid-column: 1;
    }

    .product2{
        grid-row: 1;
        grid-column: 2;
    }

    .product3{
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .home_section1 div:nth-child(2){
        font-size: 16pt;
    }

    .mobile_menu_page{
        display:none;
    }
     

    .footer-section{
        display:grid;
        grid-template-columns: 1fr;
        padding-left:20%;
        padding-right:20%;
        gap:50px;

    }


    .footer_firstblock {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:0px;
    }

    .img_link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        color:white;
    }

    }


@media (min-width: 912px) and (max-width: 1170px) {

    .home_section1 div:nth-child(1){
        font-size: 32pt;
    }

    .product_container{

        padding-top:40px;
        display:grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .product1{
        grid-row: 1;
        grid-column: 1;
    }

    .product2{
        grid-row: 1;
        grid-column: 2;
    }

    .product3{
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .home_section1 div:nth-child(2){
        font-size: 16pt;
    }


    .mobile_menu_page{
        display:none;
    }
     
       
    .footer-section{
        display:grid;
        grid-template-columns: 1fr;
        padding-left:20%;
        padding-right:20%;
        gap:50px;

    }

    .footer_firstblock {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:0px;
    }

    .img_link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        color:white;
    }
}


@media (max-width: 912px) {

    .home_section1 div:nth-child(1){
        font-size: 24pt;
    }

    
    .home_section1 div:nth-child(2){
        font-size: 10pt;
    }


    .product_container{

        padding-top:40px;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:50px;
    }


    .nav_icon{
        width:32px;
        height:32px;
        display:block;
        margin-left: 15px;
    }

    .home-nav{
        display:none;
    }
    
    .logo{
        margin-right: auto;
    }


    .home_section1{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding-top: calc(var(--header-height) + 10px);
        padding-left:10%;
        padding-right:10%;
        padding-bottom:20px;
        background-color: #3e3e3e;
   
    }

    
    .footer-section{
   
        display:grid;
        grid-template-columns: 1fr;
        padding-left:20%;
        padding-right:20%;
        gap:50px;
   
    }

 

    .footer_firstblock {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:0px;
    }


    .mobile_menu_page{
        display:none;
    }

    .img_link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        color:white;
    }

    .mobile-menu-opened{
        display:flex;
        flex-direction: column;
        background-color: #3e3e3e;
        flex:1;
        isolation: isolate;
        padding-top: calc(var(--header-height) + 10%);
    }



}





/*Utilities*/


.fontsize_1440{
    font-size: 56pt;
}

.font_size_16{
    font-size: 16pt;
}

.font_size_12{
    font-size: 12px;
}

.font_style{
    font-style: italic;
}

.font_color_white{
      color:white;
}

.font_color_black{
      color:black;
}

.font_family{
    font-family: 'Montserrat', sans-serif;
}


.font_weight_700{
    font-weight:700;
}





.header_attributes{
    height:var(--header-height);
    background-color: var(--bgc-header) ;
    color: var(--fc-header);
    font-family: var(--ff-header);
}

.btn_attributes{
    margin-left:10px;
    padding:10px 10px;
    color: white;
    font-family: inherit;
    background-color: var(--btn-bgc);
    border: none;
    border-radius: 50px;
}




.right_content_attributes{
    font-size: var(--right-content-font-size);
    font-family: var(--ff-header);
    font-weight: var(--right-content-font-weight);
    font-style: var(--left-content-font-style);
    color: var(--homepage-right-container-font-color);
}

.know_more_btn_attributes{
    color: var(--know-more-btn-color);
    font-size: 15pt;
    font-family: var(--ff-header);
    background-color: var(--btn-bgc);
    border: none;
    border-radius: 50px;
    font-style: var(--left-content-font-style);
}

.product_title_attributes{
    font-size: 24px;
    font-family: var(--ff-header);
    font-weight: bold;
    font-style: var(--left-content-font-style);
    color: var(--homepage-left-container-font-color);
}

.product_description_attributes{
    font-size: 16px;
    font-family: var(--ff-header);
    font-weight:normal;
    font-style: var(--left-content-font-style);
    color: var(--homepage-left-container-font-color);
}




.font_size_12{
    font-size: 12px;
}

.font_size_14{
    font-size: 14px;
}

.font_size_22{
    font-size: 22px;
}

.font_size_26{
    font-size: 26px;
}


.font_weight_bold{
    font-weight: bold;
}


